.dashBoardNavBarHeader {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2117647059);
  position: sticky !important;
  top: 0;
}

.hero-banner {
  background: radial-gradient(127.68% 2996.56% at 12.65% 127.68%, rgba(0, 0, 0, 0.2666666667) 0%, #222222 100%);
  width: 100%;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  margin: 0 auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
@media screen and (max-width: 767px) {
  .hero-banner {
    overflow: visible !important;
  }
}
@media screen and (max-width: 992px) {
  .hero-banner {
    -webkit-clip-path: none;
            clip-path: none;
    height: 60vh;
  }
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}

.video {
  position: absolute;
  height: 512px;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.hero-title {
  color: var(--whiteColor);
  text-align: left;
  position: absolute;
  top: 10vh;
  left: 16.5%;
  font-weight: 700;
  font-size: 48px;
}

.search_btn {
  border: none;
  color: var(--whiteColor);
  transition: 0.2s ease-in-out;
  background-color: var(--PrimaryColor);
}
.search_btn:hover {
  opacity: 0.8;
}

.hrLine {
  width: 20%;
  border: 1px solid black !important;
  position: absolute;
  z-index: 0;
  left: 11%;
}
@media screen and (max-width: 576px) {
  .hrLine {
    width: 85% !important;
    margin: 0 0 0 45px !important;
  }
}
@media screen and (max-width: 767px) {
  .hrLine {
    z-index: 5;
    margin: 0;
    position: static;
    width: 100%;
  }
}

.tab_box {
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--whiteColor);
  position: relative;
}
.tab_box .tab_btn {
  font-size: 14px;
  color: #919191;
  background: none;
  border: none;
  cursor: pointer;
}
.tab_box .tab_btn.actives {
  border-bottom: 2px solid var(--SecondaryColor) !important;
  color: var(--SecondaryColor) !important;
}
@media screen and (max-width: 340px) {
  .tab_box .tab_btn {
    font-size: 12px;
  }
}

.content_box {
  padding: 20px;
  background-color: #f2f4f6;
}
.content_box .content {
  display: none;
  animation: moving 0.5s ease;
}
@keyframes moving {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.content_box .content h2 {
  margin-bottom: 10px;
}
.content_box .active {
  display: block !important;
}
.content_box .line {
  position: absolute;
  top: 38px;
  left: 13px;
  width: 95px;
  height: 3px;
  background-color: var(--SecondaryColor);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.posit {
  position: absolute;
  flex: 0 0 auto;
  width: 80%;
  top: 45vh;
}

.inputbox {
  font-style: normal;
  box-sizing: border-box;
  margin: 0 16px;
  border: none;
  background-color: transparent;
  font-size: 14px !important;
}
.inputbox:focus, .inputbox:active, .inputbox:hover {
  border: 0 !important;
  outline: 0 !important;
}

.inputdiv {
  position: relative;
  cursor: pointer;
}
.inputdiv .cabNavBarLable {
  font-size: 12px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--PrimaryColor);
}
.inputdiv .sBtn-text {
  font-size: 14px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.inputdiv .mainInputBox {
  width: 100%;
  cursor: pointer;
  outline: none;
  padding-left: 40px;
  text-transform: capitalize;
  font-size: 14px;
  text-overflow: ellipsis;
  min-height: 50px;
  background-color: #fff !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.inputdiv .mainInputBox.open ~ .dropdown-arrow {
  transform: rotate(180deg);
}
.inputdiv .custom-select {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
  background: none; /* Removes any background image */
  position: relative;
}
.inputdiv .dashboardIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  color: var(--iconColor);
  transform: translateY(-50%);
  z-index: 5;
}
.inputdiv .citySearchHiddenBox {
  width: 135%;
  z-index: 5;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2117647059);
  background-color: var(--whiteColor);
  top: 125%;
  left: 65%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgb(243, 239, 239);
}
.inputdiv .citySearchHiddenBox.citySearchHiddenBoxShow {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}
.inputdiv .citySearchHiddenBox .searchInputBoxClass {
  position: relative;
}
.inputdiv .citySearchHiddenBox .searchInputBoxClass input {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.21) !important;
  outline: none;
  width: 100%;
  font-size: 14px;
  border: none;
  text-transform: capitalize;
  padding: 10px 5px 10px 35px;
}
.inputdiv .citySearchHiddenBox .searchInputBoxClass svg {
  position: absolute;
  z-index: 3;
  top: 50%;
  font-size: 18px;
  left: 4%;
  transform: translateY(-50%);
}
.inputdiv .citySearchHiddenBox .popularCityListDiv {
  padding: 5px 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  border: 1px solid rgb(255, 250, 250);
}
.inputdiv .citySearchHiddenBox .popularCityListDiv span:first-child {
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
}
.inputdiv .citySearchHiddenBox .popularCityListDiv ul {
  display: flex;
  flex-direction: column;
}
.inputdiv .citySearchHiddenBox .popularCityListDiv ul li {
  padding: 5px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: #2f2f2f;
  align-items: center;
}
.inputdiv .citySearchHiddenBox .popularCityListDiv ul li p,
.inputdiv .citySearchHiddenBox .popularCityListDiv ul li span {
  margin: 0;
  overflow: hidden;
  color: var(--txtGrayColor);
  font-size: 12px;
  width: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 !important;
  align-items: center;
}
.inputdiv .citySearchHiddenBox .popularCityListDiv ul li .citySearchText {
  font-weight: 600;
  font-size: 12px;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.inputdiv .citySearchHiddenBox .popularCityListDiv ul li svg {
  width: -moz-fit-content;
  width: fit-content;
}
.inputdiv .citySearchHiddenBox .popularCityListDiv ul li:hover {
  background-color: #f1f0f0;
}
.inputdiv .citySearchHiddenBox .popularCityListDiv ul li:hover p {
  color: var(--SecondaryColor);
}
.inputdiv .holidayIcon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  position: absolute;
  left: 15px;
}
.inputdiv .holidayIcon svg {
  fill: var(--iconColor);
}

.locationChangerArrowIcon {
  position: absolute;
  font-size: 20px;
  background-color: var(--whiteColor);
  padding: 1px 5px;
  z-index: 5;
  color: var(--PrimaryColor);
  right: -11%;
  top: 50%;
  transform: translateY(-50%);
}
.locationChangerArrowIcon svg {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.locationChangerArrowIcon svg.rotate {
  transform: rotate(180deg);
}
@media (max-width: 991.98px) {
  .locationChangerArrowIcon {
    top: 80%;
    right: 20px;
    background-color: var(--whiteColor);
    rotate: 90deg;
    color: var(--PrimaryColor);
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.carListNavBarArrowIcon {
  border: 1px solid;
  border-radius: 100%;
  right: -5.5%;
}

.datePickerSingle {
  position: relative;
  cursor: pointer;
}
.datePickerSingle .datePickerIcon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 15px;
  color: var(--iconColor);
  transform: translateY(-50%);
}
.datePickerSingle .ant-picker {
  width: 100%;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  font-size: 14px;
  text-overflow: ellipsis;
  height: 50px !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 0 0 0 40px;
}
.datePickerSingle .singleDatePicker {
  padding-left: 40px;
}

.notclicked {
  color: #919191;
}

.clicked {
  color: var(--PrimaryColor);
}

.css-a643pv-MuiStack-root {
  width: 100%;
  overflow: hidden !important;
  padding-top: 0 !important;
}

.css-11a8txn-MuiStack-root > :not(style):not(style) {
  padding: 18.9px 5px !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 0px !important;
  background-color: #fff !important;
  padding-right: 0 !important;
  justify-content: space-between;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 13px !important;
  color: SecondaryColor !important;
  padding: 19px 14px !important;
}

.css-iax6tr-MuiMultiSectionDigitalClock-root {
  max-height: 270px !important;
}

.css-1e3wlyl-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item {
  font-size: 12px !important;
}

.css-1v8yqdb-MuiPickersArrowSwitcher-root-MuiPickersArrowSwitcher-root {
  padding: 0px !important;
}

.css-138poq7-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  overflow: hidden;
  min-height: 240px;
  min-width: 300px;
  min-height: 250px;
}

.css-1r39cda {
  height: 280px !important;
}

.css-ymqfn8-MuiStack-root {
  width: 80% !important;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.label .radio-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #4caf50;
  outline: none;
  cursor: pointer;
}
.label .radio-input:checked {
  background-color: #4caf50;
}
.label .radio-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}
.label .radio-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}
.label .radio-input:checked + .radio-design::before {
  transform: scale(0);
}
.label .label-text {
  color: var(--SecondaryColor);
  margin-left: 10px;
  letter-spacing: 1px;
  font-size: 13px;
  transition: 0.3s;
}

.addCashModalBoxDiv input {
  padding: 7.5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
.addCashModalBoxDiv input:focus {
  border: 1px solid var(--PrimaryColor);
}

.dashBoardNavBarTitle {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #3a3a3a !important;
}

.dashBoardNavBarSubTitle {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #919191 !important;
}

.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

.css-eqpfi5-MuiAccordionSummary-content,
.css-1086bdv-MuiPaper-root-MuiAccordion-root.Mui-expanded,
.css-eqpfi5-MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
}

.css-15v22id-MuiAccordionDetails-root {
  padding: 0 0 0 20px !important;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root::before {
  content: none !important;
}/*# sourceMappingURL=Dashboard.css.map */